<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Password reset
  body(style={'font-family': 'Avenir,Helvetica,Arial,sans-serif'})
    | Hi #{user.username},
    br
    | You have requested a password reset. Use the following link to complete the reset process:
    br
    a(href=`${app_url}/resetpassword?tok=${tok}`) #{app_url}/resetpassword?tok=#{tok}
    br
    | If you didn't request the reset beware someone might be trying to access your account.
